
@media screen and (min-width: 320px) {
    .features-list {
        display: block;
    }

    .features-list__item {
        margin: 0 auto;
        width: 450;
    }

    .features-list__subtitle {
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .features-list__text {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    
    .features-list__icon {
        display: flex;
        
        height: 120px;
        background-color: var(--filter-btn-color);
        border-radius: 4px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
    }

}





@media screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    .features-list__item {
        position: relative;
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        width: 354px;
    }
    .features-list__subtitle {
        text-align: left;
    }
    .features-list__icon {
        width: 354px;
    }

}
@media screen and (min-width: 1200px) {
    
    
    .features-list__icon {
        width: 270px;
    }

    .features-list {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .features-list__item {
        width: 270px;
    }
    .features-list__item:last-child {
        margin-right: 0;
    }
}






