.icon-actions {
    display: flex;
}

.icon-actions__item {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    margin-right: 10px;
    border-radius: 50%;
    fill: var(--icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        fill: #ffffff;
        background-color: var(--accent-color);
    }
}