.logo {
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: 480px) {
        font-size: 24px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}

.footer__logo {
    color: #ffffff;
    padding: 0;
}

.logo__span {
    color: var(--accent-color);
}