.logo {
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer__logo {
    color: #ffffff;
    padding: 0;
}

.logo__span {
    color: var(--accent-color);
}