*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: var(--background);
    color: var(--primary-text-color);
    font-family: var(--main-font);
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section {
    padding: 94px 0px 94px 0px;
}

.features-list__text,
.team-list__text,
.product__info {
    color: var(--secondary-text-color);
}